# Ignore everything by default
*

# Keep folder structure visible
!*/

# Keep gitignore itself
!.gitignore

# Keep assignment notebook(s)
!*.ipynb

# Keep future report exports
!*.pdf

# Keep dataset folder contents
!data/
!data/**

# Keep generated figures
!imgs/
!imgs/**
